src/main/resources/schema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://ws.groupeisi.com"
            xmlns:tns="http://ws.groupeisi.com">

    <xsd:element name="getInfoRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="input" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="output" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
